{% extends "template.html.j2" %}

{% from "utils.j2" import content_box with context %}

{% block body %}
    {% call content_box("Your Weather", True) %}
        {% if not weather %}
            <div id="spinner" class="spinner"></div>
        {% else %}
            <div id="weather">
                <h2>The current temperature where you are is {{weather.get_current_temp()}}{{weather.state['metadata']['units']['temperature_2m']}}

                {% if recommended_articles|length == 0 %}
                    <h2>This is an ideal temperature, there are no known risks in this climate!</h2>
                {% else %}
                    <h2>This is not an ideal temperature, there are known risks in this climate, such as: </h2>

                    {% for article in recommended_articles %}
                    <div style="margin: 10px;">
                        <a href="/article/{{ article.article_id }}">
                            <div class="article-link">
                                <h1>{{ article.title }}</h1>

                                <b> &gt; </b>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                {% endif %}
                
            </div>
        {% endif %}
    {% endcall %}

    {% call content_box("Get the Weather and Forecast for elsewhere") %}
        <form action="/weather" method="get">
            <label for="city">City</label>
            <input type="text" name="city" id="city">
            <input type="submit" value="Get Weather">
        </form>
    {% endcall %}

    {% if recent_articles|length > 0 %}
        {% call content_box("Recently Read Articles") %}
            {% for article in recent_articles %}
                <a href="/article/{{ article.article_id }}">
                    <div class="article-link">
                        <h1>{{ article.title }}</h1>

                        <b> &gt; </b>
                    </div>
                </a>
            {% endfor %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block scripts %}
<script src="/js/index.js"></script>
{% endblock %}
